@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  margin: 0;
  font-family: -apple-system, Poppins, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.carousel-item::after{
  box-shadow: inset 80px 0px 50px -10px #121212, inset -80px 0px 50px -10px #121212;
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.navbar-nav .active{
  color :#F7D603 !important;
}
.breadcrumb-item a{
    text-decoration: none;
    color: #F7D603;
}
.breadcrumb-item a:hover{
  text-decoration: underline;
  color: #AE9A18;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
